.aboutpara{
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

.landing-page {
    opacity: 0;
    transform: translateY(50px);
  }
  
  .landing-page.animate {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  