body{
  background: #ffffff;
}
.homehead{
  font-family: "Nunito", sans-serif;
  font-weight: 350;
}

.homerole{
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.homepara{
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.button1{
  background-color: skyblue;
  border: none;
  color: black;
  box-shadow: 0px 1px 12px rgb(73, 72, 75);
}

.button:hover{
  background-color: #75d5fc;
  box-shadow: 0px 1px 12px rgb(73, 72, 75);
}

.homecv{
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  color: black;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-from-left {
  animation: slideInLeft 1s ease forwards;
}

.animate-from-right {
  animation: slideInRight 1s ease forwards;
}



